<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713833178533-5fmddrujin02a1gg9ljr6e326ja69n6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713833178533-5fmddrujin02a1gg9ljr6e326ja69n6b</string>
	<key>API_KEY</key>
	<string>AIzaSyB_gM8PwmZblqTYbBPvI6Sz7oLjI0XL0EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>713833178533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodrecipe</string>
	<key>PROJECT_ID</key>
	<string>food-recipe-da495</string>
	<key>STORAGE_BUCKET</key>
	<string>food-recipe-da495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713833178533:ios:5af90fad8e7eab771d344c</string>
</dict>
</plist>